# =========================
# Environment / secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

myenv/
venv/
env/
.venv/

.pytest_cache/
.coverage
htmlcov/

# =========================
# Vue / Node
# =========================
node_modules/
dist/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log